to_do_list.txt
lista.txt
rapadura.css
batata.css
uva.css
# Meu site
Esse é um tutorial para mostrar como trabalhar com o **Git** e o **GitHub**
## Para o que serve esse repositório?
Esse repositório serve para aprender a usar o **Git** e o **GitHub** cliar